*{
	margin:0px;
	padding:0px;
	
	list-style: none;
    border: 0;
    box-sizing: border-box;
    outline: 0;
    text-decoration: none;
    font-family: 'Mulish', sans-serif;
    -webkit-font-smoothing: antialiased;

}
:root {
    --animation-speed: 300ms;
}
.içerik{
	overflow-x: hidden;
	background-image: url("Slice 1 (2).png");
	background-repeat: no-repeat;
    background-size: cover;
	height: 2048px;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(#000,.5);
    opacity: 0;
    visibility: hidden;
    transition: var(--animation-speed) all;
    cursor: pointer;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    border-inline: 5px solid #16161A;
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;
    transform: translateX(-100%);
    transition: var(--animation-speed) transform;
	background:#16161A;
	
	
}

.menu ul li a {
    display: block;
    font-size: 20px;
    letter-spacing: 2px;
    padding: 15px 20px;
    color:#FCFCFB;
	opacity:0.5;
	
}
.header {
    height: 54px;
 transition: var(--animation-speed) transform;
    display: flex;
    align-items: center;

    padding: 0 20px;
}

.hamburger-menu {
    --height: 4px;
    --space: calc(var(--height) * 2.5);
    --animation-speed: 300ms;
    width: calc(var(--space) * 4);
    height: calc(var(--height) + (var(--space) * 2));
    display: block;
    cursor: pointer;
   
	
}

.menu ul li:hover a{
	opacity:1;
	cursor:pointer;
}

.menu ul li:last-child {
  position: absolute;
  bottom: 0;
	
}

.hamburger-menu span,
.hamburger-menu span::before,
.hamburger-menu span::after {
    content: '';
    display: block;
    height: var(--height);
    width: 100%;
    background: #222;
	
}
.hamburger-menu span {
    transform: translateY(var(--space));
    transition: var(--animation-speed) var(--animation-speed) background-color,width,scale 2s;
}
.hamburger-menu span::before {
    position: absolute;
    bottom: var(--space);
    transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) bottom,width,scale 1.5s;
}
.hamburger-menu span::after {
    position: absolute;
    top: var(--space);
    transition: var(--animation-speed) transform, var(--animation-speed) var(--animation-speed) top,width,scale 1.5s;
}
.altbutton span,
.altbutton span::before,
.altbutton span::after {
    content: '';
    display: block;
    height: var(--height);
    width: 100%;
    background: #222;
	
}
.altbutton span {
    transform: translateY(var(--space));
    transition: all 1s;
	
	  
}
.altbutton span::before {
    position: absolute;
    bottom: var(--space);
    transition: all 1s;
	  
	    
}
.altbutton span::after {
    position: absolute;
    top: var(--space);
    transition: all 1s;

}

#menu-toggle {
    display:none;
}

#menu-toggle:checked ~ nav.menu {
    transform: translateX(0);
}
#menu-toggle:checked ~ nav.menu .altbutton{
	
   	left:-250%;
}
nav.menu a .altbutton span:hover{
	
scale:1.5;
}
nav.menu a .altbutton:hover span{
	
scale:1.5;
}
#menu-toggle:checked ~ .header {
    transform: translateX(300px);
}

#menu-toggle:checked ~  .header span {
	
   width:1000px;
    transition: var(--animation-speed)  background-color,width 2s;
}
#menu-toggle:checked ~ .header .hamburger-menu span::before {
   width:1000px;
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) bottom,width 2.5s;
	
}
#menu-toggle:checked ~ .header .hamburger-menu span::after {
 width:1000px;
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) top,width 2.5s;
	
}
/*Tıklandığında x şeklini yaptırmak için gereken kodlar:
#menu-toggle:checked ~  .header span {
	
    background:transparent;
    transition: var(--animation-speed)  background-color,width 2s;
}
#menu-toggle:checked ~ .header .hamburger-menu span::before {
    bottom:0;
	transform:rotate(-45deg);
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) bottom,width 2.5s;
	
}
#menu-toggle:checked ~ .header .hamburger-menu span::after  {
  top:0;
  transform:rotate(45deg);
    transition: var(--animation-speed) var(--animation-speed) transform, var(--animation-speed) top,width 2.5s;
	
	}
*/
.animate-text {
	color:#94a1b2;
    float:left;
	padding-left:38.3%;
	padding-top:3.6%;
	font-size:30px;
	animation: fade-in-down 1.5s  ease-out ;
	
}
.hiza{
	float:right;
	padding-top:3%;
	padding-right:37.5%;
	animation: shake  1s ease-out infinite ;
}

@keyframes fade-in-down {
  from {
	
    transform: translate3d(0, -300%, 0);
  }

  to {
	 
    transform: translate3d(0, 0 , 0);
  }
}
@keyframes shake{
  from {
	
    transform: translate3d(0, 0, 0);
  }

  to {
	 
    transform: translate3d(0, 30% , 0);
  }
}
@keyframes gradient {
  from {
    background-position: 0% 0%;
  }
  to {
    background-position: 100% 100%;
  }
}
/*2.sayfa-----------------------------------------------*/
.dsads {

  margin: 0px;  
  height: 100px;

  display: grid;
  place-items: center;
  position:absolute;
  top:165%;
  right:30%;
  
}

.card-groups,
.card-group,
.card {
  aspect-ratio: 5 / 7;
}

.card-groups,
.card-group,
.big-card {  
  width: 30vmin;
}

.card-group {
  position: absolute;
  transition: transform 400ms ease;
}

.card-group[data-status="unknown"] {
  transform: scale(0);
  transition: none;
}

.card-group[data-status="active"] {
  transition-delay: 300ms;
}

.card-group[data-status="after"] {
  transform: translateX(50%) scale(0);
}

.card-group[data-status="before"] {
  transform: translateX(-50%) scale(0);
}

.card-group[data-status="becoming-active-from-after"] {
  transform: translateX(50%) scale(0);
  transition: none;
}

.card-group[data-status="becoming-active-from-before"] {
  transform: translateX(-50%) scale(0);
  transition: none;
}

.card {
  background-color: rgba(255, 255, 255, 0.05);
  position: absolute;
  transition: transform 800ms cubic-bezier(.05,.43,.25,.95);
  
  background-position: center;
  background-size: cover;
}

.big-card {
  border-radius: 1vmin;
}

.little-card {
  width: 12vmin;
  border-radius: 2vmin;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: -1vmin 1vmin 2vmin rgba(0, 0, 0, 0.25);
  pointer-events: none;
}

.big-card:nth-child(2) {
 background-image: url("foto7.jpeg");
  transform: translateX(-10%) rotate(-1deg);
}

.big-card:nth-child(4) {
 background-image: url("foto2.jpeg");
  transform: rotate(2deg);
}

.big-card:nth-child(6) {
 background-image: url("foto9.jpeg");
  transform: translateX(-6%) rotate(-3deg);
}

.big-card:nth-child(8) {
 background-image: url("foto8.jpeg");
  transform: translate(10%, 3%) rotate(5deg);
}

.card-group[data-index="1"] > .big-card:nth-child(6) {
background-image: url("foto8.jpeg");
}

.card-group[data-index="1"] > .big-card:nth-child(8) {
   background-image: url("foto9.jpeg");
}

.card-group[data-index="2"] > .big-card:nth-child(4)  {
     background-image: url("foto2.jpeg");
}

.card-group[data-index="2"] > .big-card:nth-child(8){
     background-image: url("foto2.jpeg");
}

.little-card:nth-child(1) {
    background-image: url("foto6.jpeg");
}

.little-card:nth-child(3) {
   background-image: url("foto3.jpeg");
}

.little-card:nth-child(5) {
  background-image: url("foto1.jpeg");
}

.little-card:nth-child(7) {
  background-image: url("foto5.jpeg");
}

.card-group:hover > .card {  
  box-shadow: -2vmin 2vmin 3vmin rgba(0, 0, 0, 0.4);
}

.card-group:hover > .big-card:nth-child(2) {
  transform: translate(-130%, 28%) rotate(-24deg);
}

.card-group:hover > .big-card:nth-child(4) {
  transform: translate(-40%, 6%) rotate(-16deg);
}

.card-group:hover > .big-card:nth-child(6) {
  transform: translate(40%, 6%) rotate(11deg);
}

.card-group:hover > .big-card:nth-child(8) {
  transform: translate(120%, 24%) rotate(25deg);
}

.card-group:hover > .little-card:nth-child(1) {
  transform: translate(280%, -180%) rotate(-15deg);
}

.card-group:hover > .little-card:nth-child(3) {
  transform: translate(200%, 200%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(5) {
  transform: translate(-200%, -190%) rotate(15deg);
}

.card-group:hover > .little-card:nth-child(7) {
  transform: translate(-220%, 200%) rotate(-15deg);
}

.card-swiper-buttons {
  margin-top: 8vmin;
  display: flex;
  justify-content: space-around;  
  padding: 0vmin 4vmin;
}

.card-swiper-buttons > button {
  font-size: 2.5vmin;
  border: 0.4vmin solid rgb(200, 200, 200);
  border-radius: 100%;
  color: white;
  background-color: transparent;
  height: 7vmin;
  width: 7vmin;
  display: grid;
  place-items: center;
  cursor: pointer;
}

#love-button {
  color: rgb(33, 150, 243);
  border-color: rgb(33, 150, 243);
}
.imghz{
	width:25px;
	height:24px;
}
.ayırıcı {
	width:100%;
	height:20%;
   cursor:pointer;
	position:absolute;
	top:240%;

}
.it1{
	width:100%;
	height:50%
}
.it2{
	width:100%;
	height:50%
}
.item1{
  margin-left:0.2%;
	display:inline-block;
	width:15.3%;
    line-height:50px;
	height:77.370%;
	background:transparent;
	border-inline: 5px solid gray;
	border-radius:15px;
    text-align:center;
	transition: all 0.5s;
	color:#94A1B2;
}
.item2{
	margin-left:0.3%;
	display:inline-block;
	width:15.3%;
    line-height:50px;
	height:77.370%;
	background:transparent;
	border-inline: 5px solid gray;
	border-radius:15px;
	text-align:center;
    transition: all 0.5s;
	color:#94A1B2;
}
.item11{
    margin-left:37%;
	display:inline-block;
	width:15.3%;
    line-height:50px;
	height:77.370%;
	background:transparent;
	border-inline: 5px solid gray;
	border-radius:15px;
	text-align:center;
	text-bottom:5px;
	transition: all 0.5s;
    color:#94A1B2;
}
.item22{
    margin-left:31%;
	display:inline-block;
	width:15.3%;
	line-height:50px;
	background:transparent;
	border-inline: 5px solid gray;
	height:77.370%;
	border-radius:15px;
	text-align:center;
	transition: all 0.5s;	
	color:gray;
}

.item1:hover{
 background:RGB(179, 183, 194,0.25);
line-height:60px;/*Hover olduğu zaman saatlerin aşşağı inmesini engellemek için değerini düşür*/
 font-size:30px;
}
.item11:hover{
 background:RGB(179, 183, 194,0.25);
line-height:60px;
 font-size:30px;
}
.item2:hover{
 background:RGB(179, 183, 194,0.25);
line-height:60px;
 font-size:30px;
}
.item22:hover{
 background:RGB(179, 183, 194,0.25);
line-height:60px;
 font-size:30px;
}
.altbutton{
	position:absolute;
	top:90.5%;
	width:48px;
	height:48px;
	justify-content:center;
    display:flex;
    align-items:center;
	border-inline:1px solid transparent;
	border-radius:50px;
	left:7%;
	cursor:pointer;
	transform: translateX(630%);
	transition:all 1s ease-out;
	
}
























@media (max-width: 550px) {
  
#menu-toggle:checked ~ .header .hamburger-menu {
   
   margin-left:-175px;
  }
.menu{
	  width: 130px;
    
  }
.menu ul li a{
	  font-size:12px; 
  }
.hamburger-menu{
	  --height: 3px;
  }
.animate-text{
	   font-size:18px;
	   padding-left:30.3%;
	   text-align:left;
   }
.hiza img {
	   width:40px;
   }
.hiza{
	padding-right:25.8%;
    }
.imghz{
	width:15px;
	height:14px;
}
.altbutton{
	top:90.5%;
	left:-140%;
}
#menu-toggle:checked ~ nav.menu .altbutton{
   	left:-350%;
}
.item11{
    margin-left:28%;
	line-height:43px;
}
.item1{
    
	line-height:43px;
}
.item22{
    margin-left:22%;
	line-height:43px;

}
.item2{
 
	line-height:43px;

}
.item1:hover{
line-height:48px;
font-size:18px;
}
.item11:hover{
font-size:18px;
line-height:48px;
}
.item2:hover{
font-size:18px;
line-height:48px;
}
.item22:hover{
line-height:48px;
font-size:18px;
}
}
@media (max-width: 800px) and (min-width: 551px) {
.animate-text{
	   font-size:25px;
	   padding-left:50.3%;
   }
.hiza img {
	   width:50px;
   }
.hiza{
	
	padding-right:23.8%;
	
    }
.hamburger-menu{
	  --height: 3.5px;
  }
.menu{
	  width: 130px;
    
  }
#menu-toggle:checked ~ .header .hamburger-menu {
   
   margin-left:-175px;
  }
.menu ul li a{
	  font-size:12px; 
  }
.imghz{
	width:20px;
	height:19px;
}
.altbutton{
	top:90.5%;
	left:-136%;
}
.item11{
    margin-left:28%;

}
.item22{
    margin-left:22%;

}
.item1:hover{
line-height:48px;
font-size:22px;
}
.item11:hover{
font-size:22px;
line-height:48px;
}
.item2:hover{
font-size:22px;
line-height:48px;
}
.item22:hover{
line-height:48px;
font-size:22px;
}
#menu-toggle:checked ~ nav.menu .altbutton{
   	left:-350%;
}
}
@media (max-width: 1150px) and (min-width: 801px){
.item11{
    margin-left:28%;

}
.item22{
    margin-left:22%;

}
.item1:hover{
line-height:48px;
font-size:25px;
}
.item11:hover{
font-size:25px;
line-height:48px;
}
.item2:hover{
font-size:25px;
line-height:48px;
}
.item22:hover{

line-height:48px;
font-size:25px;
}
}





